### Gradle Files ###
/.gradle/
/build/

# Make sure to commit necessary gradle files
!/gradle/
!gradle.properties
!build.gradle
!gradlew
!gradlew.bat

### Intellij Files ###
/.idea/
/out/
*.iml
*.ipr
*.iws

### Eclipse Files ###
**/.settings/
/bin/
.classpath
.project

### Netbeans Files ###
/.nb-gradle/
/target/
*.nb-gradle-properties

### Configuration And Testing Files ###
/src/test/
*.json

### Image Files ###
*.png
*.jpg
*.gif
*.ico

### Other Files ###
/planning/